*{
  margin:0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html{
font-size: 20px;
}
body{
  margin:0;
  padding:0;
}
  @font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1414739030_1435335.ttf') format('truetype');
}
.xtab-container{
  height: 2.2rem;
  position: relative;
   -webkit-box-shadow:0 0.05rem 1rem 0 rgba(0,0,0,.1);
   -moz-box-shadow:0 0.05rem 1rem 0 rgba(0,0,0,.1);
   box-shadow:0 0.05rem 1rem 0 rgba(0,0,0,.1);

}
.xtab-container .xs-content{
  position: absolute;
}
.xtab-nav-container{
  height: 100%;
  right: 2rem;
  top:0;
  z-index:9;
  position: absolute;
  left: 0;
  overflow-x:scroll;
  overflow-y:hidden;
  white-space: nowrap;
}


.xtab-nav-container .box{
  height: 2.2rem;
}
.xtab-nav-container ul{
  height: 2.2rem;
}
.xtab-nav-container ul,.xtab-nav-container ul li{
  list-style-type: none;
  padding:0;
  margin:0;
  font-size:0.7rem;
}
.xtab-nav-container li.active{
  color:#ec1c43;
  border-bottom: 0.15rem solid #ec1c43;
}
.xtab-nav-container .xtab-item{
  line-height:2.1rem;
  font-size:0.7rem;
  padding:0 0.3rem;
  color:#3d4245;
  font-weight:bold;
  margin-right:0.3rem;
  height: 2.1rem;
  display: inline-block;
}
.xtab-nav-container .xtab-item:last-child{
  margin-right:0;
}
.xtab-nav-container .on{
  color:#6e54ad;
  position: relative;
  z-index:1;
  border-bottom:.1rem solid #6e54ad;
}
.xtab-btn-slide {
  width:2rem;
  height: 100%;
  line-height: 2.2rem;
  right:0;
  text-align:center;
  -webkit-box-shadow:-0.5rem 0 0.5rem -0.15rem rgba(0,0,0,.1);
  -moz-box-shadow:-0.5rem 0 0.5rem -0.15rem rgba(0,0,0,.1);
  box-shadow:-0.5rem 0 0.5rem -0.15rem rgba(0,0,0,.1);
  background:#fff;
  color:#9e9e9e;
  -webkit-transform:rotate(0);
  -moz-transform:rotate(0);
  -o-transform:rotate(0);
  -ms-transform:rotate(0);
  transform:rotate(0);
  position:absolute;
  z-index:1001;
}
.xtab-slide-down .xtab-btn-slide{
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}
.xtab-btn-slide:before {
  font-family: 'iconfont';
  content: '\e601';
}
.xtab-navpop-container{
  display: none;
  position: absolute;
  z-index: 1000;
  background: #fff;
  font-size: .7rem;
  color:#9e9e9e;
}
.xtab-navpop-header{
  line-height: 2rem;
  height: 2rem;
  display: block;
  right: 2rem;
  text-indent: 1rem;
}
.xtab-navpop-container ul li{
  display: block;
  list-style: none;
  width: 33%;
  float: left;
  border-bottom: .15rem solid white;
  line-height: 2rem;
  text-align: center;
}
.xtab-navpop-container ul li.active{
  color:#ec1c43;
  border-bottom: 0.15rem solid #ec1c43;
}
.xtab-mask{
  background: #000;
  opacity: 0.5;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  -webkit-transition:all 0.5s ease;
}