* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html {
    -ms-touch-action: none;
}

body,ul,li {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-size: 12px;
    font-family: ubuntu, helvetica, arial;
    overflow: hidden; 
}

#header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #f60;
    padding: 0;
    color: #eee;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#footer {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: #444;
    padding: 0;
    border-top: 1px solid #444;
    line-height: 48px;
    color:#fff;
    text-align: center;
}

#J_Scroll {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: 0;
    width: 100%;
    overflow: hidden;
}
#J_Scroll li{
    width: 100%;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
}

.xs-plugin-pulldown-container{
    text-align: center;
    width: 100%;
    line-height: 50px;
}
.xs-plugin-pulldown-up .up{
    display: inline;
}
.xs-plugin-pulldown-up .down{
    display: none;
}
.xs-plugin-pulldown-down .up{
    display: none;
}
.xs-plugin-pulldown-down .down{
    display: inline;
}

.xs-plugin-pullup-container{
        line-height: 60px;
        text-align: center;
}

